
<nav class="navbar navbar-expand-sm bg-dark " id="pageContent">
  <div class="container-fluid">
    <a class="navbar-brand text-success" id="userLogged"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-info" aria-current="page" routerLink="/home">Inicio</a>
        </li>

      </ul>

    </div>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item text-white  "  >
          <a  class="nav-link text-white" routerLink="/carrito" aria-current="page">

              Cant. productos: {{ getCantProd() }}

          </a>
        </li>
        <li class="nav-item ms-auto mt-2">
          <button class=" mt-0 pt-0 pb-0 btn btn-outline-danger">
            <a class="nav-link text-white d-flex  btn" onclick="logout()">Cerrar Sesion</a>

          </button>

        </li>
      </ul>
    </div>
  </div>
</nav>

