<app-header></app-header>
<!-- Contenido Principal: Lista de productos -->
<div class="container-home mt-4    mx-4" id="pageContent"> <!-- Contenedor principal del contenido de la página -->
  <h2 class="text-center">Productos Disponibles</h2> <!-- Título de la sección -->

  <!-- Sección donde se generarán las tarjetas de produtos -->
  <div id="productsList" class="row mt-5 mx-5 img-wh">
    <div *ngFor="let item of productos" class="col-md-4 mb-4">
        <div  class="card h-100">
            <img [src]="item.image" class="card-img-top d-fluid" alt=${{item.title}}>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text"><strong>Precio: </strong> ${{item.price}}</p>
                <a class="btn btn-primary mt-auto justify-content-end mx-5 text-center " (click)="getAddProducto(item)">Agregar</a>
            </div>
        </div>
      </div>
  </div>
</div>
