<div class="container mt-5 pt-5">

    <div class="container-login mt-5 ">
    <div class="row w-100">

      <div class="col-md-3">
      </div>
      <div class="col-md-6  d-flex flex-column align-items-center mt-5">

      <div aria-live="polite" aria-atomic="true" class="position-relative">
        <!-- Contenedor para los mensajes emergentes (toasts) -->
        <div class="toast-container position-fixed top-0 end-0 p-3" id="toast-container"></div>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-md-3 text-center w-100 needs-validation" novalidate>
        <!-- Campo para correo o nombre de usuario -->
        <div class="form-group form-floating mb-3">
          <input
            type="text"
            formControlName="emailOrUsername"
            class="form-control"
            id="email"
            placeholder="Introduce tu correo electrónico o usuario"
            required>
          <label for="email">Correo electrónico o usuario</label>
          <div class="invalid-feedback">Por favor, introduce tu correo electrónico o usuario.</div>
        </div>

        <!-- Campo para contraseña -->
        <div class="form-group form-floating mb-3 position-relative">
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="pwd"
            placeholder="Introduce tu contraseña"
            required>
          <label for="pwd">Contraseña</label>
          <div class="invalid-feedback">Por favor, introduce tu contraseña.</div>
          <!-- Botón para mostrar u ocultar la contraseña -->
          <button
            type="button"
            id="togglePassword"
            class="btn btn-outline-dark position-absolute top-50 end-0 translate-middle-y">
            Mostrar
          </button>
        </div>

        <!-- Botón de envío del formulario -->
        <button type="submit" class="btn btn-submit btn-primary">Iniciar sesión</button>
      </form>



      <p class="mt-4 btn">
        <!-- Enlace para redirigir al registro -->
        ¿No tienes una cuenta? <a (click)="navigateToRegister()" class="link-dark">Regístrate</a>
      </p>
    </div>
  </div>

</div>

